<!DOCTYPE html>
<html>
<head>
    <style>
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

    </style>
</head>
<body>

<h2>Search Condition</h2>

<form action="http://localhost:5000/result" method="POST">
  <fieldset>
    <legend>Transaction Information:</legend>
    Payer Country:<br>
    <input type="text" name="payer_country"/>
    <br>
    Beneficiary Country:<br>
    <input type="text" name="beneficiary_country"/>
    <br>
    Transaction Type:<br>
    <input type="text" name="transaction_type"/>
    <br>
    Channel:<br>
    <input type="text" name="channel"/>
    <br>
    Payment Method:<br>
    <input type="text" name="payment_method"/>
    <br>
    Payment Country:<br>
    <input type="text" name="payment_country"/>
    <br>
    Payment Currency:<br>
    <input type="text" name="payment_currency"/>
    <br><br>

    <input type="radio" name="type" value="field"> required fields </input><br>
    <input type="radio" name="type" value="json"> payload examples </input><br>

    <input type="submit" value="Submit">
    <input type="reset", value="Reset">
  </fieldset>
</form>
</body>
</html>

